body{
    background-color: #0D0D0D;
    color: #f9f6f6;
}
nav .content{
    max-width: 70px;
}
nav .links{
  overflow: hidden;
}
nav .links p{
  position: relative;
  top: 300px;
}
.footer p , .footer .icons ,.links p{
  min-width: 212px;
  overflow: hidden;
}
nav{
  position: relative;
  left: -260px;
}
nav .navbarlinks{
    width: 260px;
    overflow: hidden;
}
nav{
    height: 103vh;
    background-color: white;
    position: fixed;
    color: #0D0D0D;
    z-index: 999;
}
nav i, nav .links p{
    cursor: pointer;
}
.col-md-3 .image{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mealcategories .container .row .image .layer p{
  font-size: 13px;
}
.areas .col-md-3{
  cursor: pointer;
}
.col-md-3 .layer{
    position: absolute;
    background-color: #f9f6f6ca;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    color: black;
    font-size: 26px;
    font-weight: 500;
    transition-duration: 0.5s;
}
.image:hover .layer{
    top: 0;
}
.navbarlinks{
    background-color: #0D0D0D;
    color: #f9f6f6;
}
.ingredients .painted{
  color: #055160;
  background-color: #cff4fc;
  padding: 5px;
}
.types span{
  color: #842029;
  background-color: #f8d7da;
  padding: 5px;
}
h2 i{
  font-size: 19px;
  cursor: pointer;
}
.ingrediants .col-md-3{
  cursor: pointer;
}
.search input{
  background-color: transparent;
  border-color: white;
  color: white !important;
}
.search input:focus{
  background-color: transparent;
}
.search input::placeholder{
  color: rgb(145, 145, 145);
}
.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@media (min-width: 200px){
    .meals .container .row{
      padding-left: 30px;
    }
    .mealsDetails .container .row{
      padding-left: 30px;
    }
    .catmeals .container .row{
      padding-left: 30px;
    }
    .areasmeals .container .row{
      padding-left: 30px;
    }
    .ingrediantsmeals .container .row{
      padding-left: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
  .meals .container .row .layer{
    font-size: 20px;
  }
  .catmeals .container .row .image .layer{
    font-size: 20px;
  }
  .areasmeals .container .row .image .layer{
    font-size: 20px;
  }
  .ingrediantsmeals .container .row .image .layer{
    font-size: 20px;
  }
  .mealsDetails .container .row{
    padding-left: 30px;
  }
}
@media (max-width: 615px){
  .mealsDetails .container {
    width: 75%;
  }
  .catmeals .container .row{
    padding-left: 70px;
  }
  .areasmeals .container .row{
    padding-left: 70px;
  }
  .ingrediantsmeals .container .row{
    padding-left: 70px;
  }
}
@media (max-width: 350px){
  .meals .container .row .image .layer{
    font-size: 13px;
  }
  .catmeals .container .row .image .layer{
    font-size: 13px;
  }
  .areasmeals .container .row .image .layer{
    font-size: 13px;
  }
  .ingrediantsmeals .container .row .image .layer{
    font-size: 13px;
  }
}
@media (max-width: 500px){
  .contactUs .parent .container .row{
    padding: 30px;
  }
   .email{
    width: fit-content;
   }
}